<div class="hero">
  <br /><br /><br /><br /><br /><br />
    <div class="frosty col-6 offset-1 text-center">
        <h1>What Are the Keys to Fun, Alive Relationships?</h1>
        <h3><i>Could It Be Easier Than You Think?</i></h3>
        <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    </div>
</div>

<br />
<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3>Amazing Courses</h3>
        <br />
        <p>You'll have such a good time together you'll hardly notice how much you are learning.</p>
    </div>
    <div class="col-12 col-sm">
        <h3>Learn At Your Own Pace</h3>
        <br />
        <p>Enroll and get immediate access to a treasure trove of simple step-by-step guides and relationship tips.</p>
    </div>
    <div class="col-12 col-sm">
        <h3>Join Our Online Community</h3>
        <br />
        <p>Friendly, like-minded people are eager to share what's worked for them and give you a hand.</p>
    </div>
</div>